 .cover-letters {
     width: 100%;
     table-layout: fixed;
     word-wrap: break-word;
     border: rgb(0, 0, 0) solid 3px;
     border-radius: 15px;
     display: flex;
     flex-direction: column;
     padding: 3px;
 }
 
 .table-columns {
     display: flex;
     flex-direction: row;
 }
 
 .table-head-column {
     width: 30%;
     height: auto;
     text-align: center;
     border-right: rgb(61, 61, 61) solid 2px;
     border-left: rgb(61, 61, 61) solid 2px;
     border-top: rgb(61, 61, 61) solid 2px;
     border-bottom: rgb(61, 61, 61) solid 2px;
     background-color: rgb(94, 94, 94);
     font-weight: bold;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
     overflow-x: auto;
 }
 
 .table-column {
     width: 30%;
     height: auto;
     text-align: center;
     vertical-align: middle;
     border-right: rgb(61, 61, 61) solid 2px;
     border-left: rgb(61, 61, 61) solid 2px;
     border-top: rgb(61, 61, 61) solid 2px;
     border-bottom: rgb(61, 61, 61) solid 2px;
     background-color: rgb(37, 37, 37);
     display: flex;
     vertical-align: middle;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
     overflow-x: auto;
 }
 
 .edit-cover-letter {
     background: rgba(51, 184, 51, 0.644);
     border: black solid 3px;
     border-radius: 25px;
     width: 100%;
     padding: 10px;
     padding-top: 25px;
 }
 
 .cover-letters tr td {
     border: rgba(37, 37, 37, 0.856) solid 3px;
     border-radius: 15px;
     text-align: center;
 }
 
 .cover-letters tr {
     text-align: center;
 }
 
 .flex-container {
     padding: 10px;
     justify-content: center;
 }
 
 .topic {
     text-align: center;
     margin-bottom: 20px;
     color: honeydew;
 }
 
 .input-block {
     border: solid black 2px;
     border-radius: 10px;
     width: 100%;
     text-align: center;
     margin: 3px;
     height: 35pt;
     background: white;
 }
 
 .textarea-block {
     border-style: inset;
     border: solid black 2px;
     border-radius: 10px;
     width: 100%;
     text-align: center;
     margin: 3px;
     height: 45pt;
     resize: none;
 }
 
 .save-btn {
     border: black solid 2px;
     border-radius: 10px;
     width: 30%;
     height: 40pt;
     text-align: center;
     margin: 0 auto;
     margin-top: 20px;
     display: block;
 }
 
 input[type="checkbox"][readonly] {
     pointer-events: none;
 }
 
 .jumbotron {
     background-color: rgb(29, 29, 29);
     border-radius: 40px;
     margin: 5px;
 }