<div class="container-fluid main-container">
    <div class="row">
        <div class="flex-container col-md-7 col-lg-8 col-xl-8">

            <div *ngIf="isNoLetters()" class="no-letters-jumborton jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-5">There is no any letters</h1>
                    <p class="lead">We haven't any letters in our database</p>
                </div>
            </div>


            <div *ngIf="!isNoLetters()" class="cover-letters">
                <div class="table-columns">
                    <div class="table-head-column" style="width: 10%;">ID</div>
                    <div class="table-head-column">Profession</div>
                    <div class="table-head-column">Name</div>
                    <div class="table-head-column" style="width: 10%;">Draft</div>
                    <div class="table-head-column" style="width: 60%;"></div>
                </div>
                <div *ngFor="let letter of coverLetters" class="table-columns">
                    <div class="table-column" style="width: 10%;">{{letter.id}}</div>
                    <div class="table-column">{{letter.profession}}</div>
                    <div class="table-column">{{letter.name}}</div>
                    <div class="table-column" style="width: 10%;">
                        <input type="checkbox" readonly [checked]="letter.draft" id="letterDraft">
                    </div>

                    <div class="table-column" style="width: 60%;">
                        <button type="button" class="btn btn-success" style="margin: 5px;" (click)=editLetter(letter.id)>Edit</button>
                        <button type="button" class="btn btn-danger" style="margin: 5px;" (click)="deleteLetterById(letter.id)">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-container col-md-5 col-lg-4 col-xl-4">
            <div class="edit-cover-letter main-container">
                <form [formGroup]="letterForm" (ngSubmit)="createLetter(letterForm.value)">
                    <input id="id" class="input-block form-control" placeholder="ID" formControlName="id" required>
                    <div *ngIf="id.invalid && id.touched" class="alert alert-danger">

                        <div *ngIf="id.errors.required">
                            id is required.
                        </div>
                        <div *ngIf="id.errors.max">
                            id has to be smaller than 2^53 -1
                        </div>
                        <div *ngIf="id.errors.pattern">
                            id has to be a non-negative integer.
                        </div>
                    </div>

                    <input class="input-block form-control" formControlName="profession" placeholder="Profession" required>
                    <div *ngIf="profession.invalid && profession.touched" class="alert alert-danger">

                        <div *ngIf="profession.errors.required">
                            profession is required.
                        </div>
                        <div *ngIf="profession.errors.minlength">
                            profession must consists at least {{professionMinLength}} symbols
                        </div>
                        <div *ngIf="profession.errors.maxlength">
                            profession must consists not more than {{professionMaxLength}} symbols
                        </div>
                        <div *ngIf="profession.errors.pattern">
                            profession can contains only latin symbols and spaces
                        </div>
                    </div>

                    <input class="input-block form-control" formControlName="name" placeholder="Name" required>
                    <div *ngIf="name.invalid && name.touched" class="alert alert-danger">
                        <div *ngIf="name.errors.required">
                            name is required
                        </div>
                        <div *ngIf="name.errors.minlength">
                            name must consists at least {{nameMinLength}} symbols
                        </div>
                        <div *ngIf="name.errors.maxlength">
                            name must consists not more than {{nameMaxLength}} symbols
                        </div>
                        <div *ngIf="name.errors.pattern">
                            name can contains only latin symbols and spaces
                        </div>
                    </div>

                    <textarea class="textarea-block form-control" placeholder="About" formControlName="about"></textarea>

                    <div class="custom-control custom-checkbox" style="display: flex; justify-content:center">
                        <input type="checkbox" class="input-block custom-control-input form-control" formControlName="draft" id="draftCheckbox">
                        <label class="custom-control-label" for="draftCheckbox">Is drafted</label>
                    </div>

                    <button type="submit" [disabled]="letterForm.invalid" class="btn btn-success save-btn">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>