<p>Test Angular developer (junior +)</p>

<p>Задание:</p>

<pre>
1. Сделать страницу создания и редактирования Cover Letter. Cover Letter объект имеет следующие поля:
- ID (числовое поле. Важно: при редактировании для писем Draft=false должно быть недоступно для редактирования)
- Profession (текстовое название профессии, поле типа input type="text")
- Name (имя человека, поле типа input type="text")
- About (информация о человеке, поле типа textarea)
- Draft (черновик или законченное письмо, поле типа input type="boolean"). По умолчанию значение true
 
2. При сохранении формы валидировать все поля, после удачного сохранения отображать объект в списке, форму очищать. Бекенд не использовать, все остается на фронт части.
Все созданные Cover Letter выводить в виде списка, возле каждого объекта должна быть ссылка Edit (редактирование). Если ни одно письмо не создано, то выводить текст "No letters"
 
3. Сделать открытый репозиторий на github с задачей.
 
Требования\пожелания к выполнению:
1. localStorage не использовать (только в случае если совсем нет идей, как реализовать)
2. Angular 6+, Bootstrap 4
3. Краткость и аккуратность (именование методов, переменных и тд)
4. Использование CDN
</pre>